@layer reset, global, components, overrrides;

@import url("./reset.css") layer(reset);
@import url("./overrrides.css") layer(overrrides);

@layer global {
  html {
    /* generelle style, overskrifter, tekst, farver, variabler */
    font-family: system-ui, sans-serif;
    color: #333;
  }

  h1 {
    color: #1c1c1c;
    font-family: Cabin;
    font-size: 3.125rem;
    font-weight: 600;
    line-height: 1.3; /* 4.0625rem */
  }
}
