---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroMain from "../components/HeroMain.astro";
import NewsLetter from "../components/NewsLetter.astro";
import { Image } from "astro:assets";
import img1 from "../assets/images/case-img.png";
import img2 from "../assets/images/casestudy.png";
import img from "../assets/images/case1.png";
---

<BaseLayout title="Case Study">
  <HeroMain
    Bannertext="Case Studies single"
    text="Taxes & Efficiency"
    img={img}
  />

  <section class="section-margin-top">
    <div class="localhero">
      <Image src={img1} alt="xxxxx" />
      <div class="localbar">
        <ul role="list">
          <li>
            <h6>Case Name</h6>
            <p>Taxes & Efficiency</p>
          </li>
          <li>
            <h6>Category</h6>
            <p>Business</p>
          </li>
          <li>
            <h6>Date</h6>
            <p>27th September 2022</p>
          </li>
        </ul>
        <button>Live Preview</button>
      </div>
    </div>
    <article class="flow-space">
      <h3>Project Overview</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident.
      </p>
      <ul>
        <li>
          It brings the right people together with all the right information and
          tools to get work done
        </li>
        <li>
          We provide operational efficiency, data security, and flexible scale
        </li>
        <li>
          Your best work, together in one package that works seamlessly from
          your computer
        </li>
        <li>
          Delivers the tools you need to save time Improve field performance
          always
        </li>
      </ul>
      <h4>Storyboard</h4>
      <p>
        Completely synergize resource taxing relationships via premier niche
        markets. Professionally cultivate one-to-one customer service with
        robust ideas. Dynamically innovate resource-leveling customer service
        for state of the art customer service. Objectively innovate empowered
        manufactured products whereas parallel platforms. Holistically
        predominate extensible testing procedures for reliable supply chains.
      </p>
      <p>
        Proactively envisioned multimedia based expertise and cross-media growth
        strategies. Seamlessly visualize quality intellectual capital without
        superior collaboration and idea-sharing. Holistically pontificate
        installed base portals after maintainable products completely pursue
        scalable customer service.
      </p>
      <Image class="img" src={img2} alt="xxxxx" />
      <h4>Project result</h4>
      <p>
        Leverage agile frameworks to provide a robust synopsis for high level
        overviews. Iterative approaches to corporate strategy foster
        collaborative thinking to further the overall value proposition.
        Organically grow the holistic world view of disruptive innovation via
        workplace diversity and empowerment.
      </p>
      <p>
        Bring to the table win-win survival strategies to ensure proactive
        domination. At the end of the day, going forward, a new normal that has
        evolved from generation X is on the runway heading towards a streamlined
        cloud solution. User generated content in real-time will have multiple
        touchpoints for offshoring.
      </p>
    </article>
  </section>

  <NewsLetter />
</BaseLayout>

<style>
  @layer components {
    section {
      --gap: 1rem;
      --fill: minmax(var(--gap), 1fr);
      --elements: minmax(0, 8rem);
      --text: minmax(0, 65ch);

      display: grid;
      grid-template-columns:
        [fill-start] var(--fill)
        [elements-start] var(--elements)
        [text-start] var(--text)
        [text-end] var(--elements)
        [elements-end] var(--fill)
        [fill-end];

      > * {
        grid-column: text;
      }

      article h3 {
        margin-block-start: var(--flow-space);
      }

      .localhero {
        grid-column: fill;
        grid-template-columns: subgrid;
        display: grid;
        grid-template-rows: repeat(5, auto);
      }
      img {
        border-radius: 2rem;
        grid-column: fill;
        grid-row: 1 / span 4;
      }
      .localbar {
        grid-column: elements;
        background: var(--black);
        color: var(--white);
        display: flex;
        place-content: space-between;
        border-radius: 2rem;
        padding: 2rem;
        place-items: center;
        grid-row: 4 / -1;
        z-index: 1;
        height: fit-content;

        ul {
          display: flex;
          gap: var(--space-3xl);
        }

        h6,
        p {
          color: var(--white);
        }
        button {
          background: var(--yellow);
          color: var(--white);
          border-radius: 2rem;
          height: fit-content;
          padding: 1rem;
        }
      }

      .img {
        border-radius: 0;
        padding: 0 2rem;
      }
    }
  }
</style>
