---

---

<section id="Cardbar">
  <article>
    <h6>Finance & Restructuring</h6>
    <p>
      Get help from Alex Moore, a professional business coach with advanced
      experience on growth and business scaling.
    </p>
    <button>Our Services</button>
  </article>
  <article>
    <h6>Our Approach</h6>
    <p>
      Get help from Alex Moore, a professional business coach with advanced
      experience on growth and business scaling.
    </p>
    <button>More About </button>
  </article>
  <article>
    <h6>Consultalk Result</h6>
    <p>
      Get help from Alex Moore, a professional business coach with advanced
      experience on growth and business scaling.
    </p>
    <button>Explore Our Solution</button>
  </article>
</section>

<style>
  @layer components {
    section {
      display: flex;
      gap: 1rem;

      article {
        background: #181818e0;
        backdrop-filter: blur(4px);
        padding: 3rem;
        border-radius: 2rem;

        h6,
        p {
          color: var(--white);
        }

        button {
          background-color: var(--black);
          color: var(--white);
          border-radius: 2rem;
          padding: 1rem;
        }
      }
    }
  }
</style>
