---
import CoreValueCard from "./CoreValueCard.astro";

const { data, theme, icon } = Astro.props;
---

<ul data-theme={theme}>
  <h2>{data.title}</h2>
  <p>{data.subtitle}</p>
  {data.values.map((corevalues) => <CoreValueCard {corevalues} />)}
</ul>

<style>
  [data-theme="dark"] {
    --bg-section: var(--black);
    --text-section: var(--white);
    --bg-card: var(--grey);
    --card-text: var(--black);
    /* brød tekst: #595566 */
  }
</style>
