---
import CoreValueCard from "./CoreValueCard.astro";

const { data, theme } = Astro.props;
---

<section data-theme={theme}>
  {data.values.map((corevalues) => <CoreValueCard {corevalues} />)}
</section>

<!--   {data.map((employee) => <EmployeeCard {employee} />)} -->

<style>
  [data-theme="dark"] {
    --bg-section: var(--black);
    --text-section: var(--white);
    --bg-card: var(--grey);
    --card-text: var(--black);
    /* brød tekst: #595566 */
  }
</style>
