---
import Banner from "./Banner.astro";
import EmployeeCard from "./EmployeeCard.astro";

const { data, theme, title, subtitel, Bannertext } = Astro.props;
---

<section>
  <div class="headsection">
    <div class="header" class="flow-space">
      <Banner text={Bannertext} theme="yellow" />
      <h2>{title}</h2>
      <p>
        {subtitel}
      </p>
    </div>
    <button>Join our team</button>
  </div>
  <article>
    {data.map((employee) => <EmployeeCard {employee} />)}
  </article>
</section>

<style>
  @layer components {
    section {
      container-type: inline-size;
    }
    article {
      color: var(--text-section);
      background: var(--bg-section);

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      margin-top: 2rem;
    }
    .headsection {
      display: flex;
      place-items: end;
      justify-content: space-between;
    }
    .header {
      max-width: 65ch;

      h2,
      p {
        margin-block-start: var(--flow-space);
      }
    }
    button {
      background: var(--black);
      color: var(--white);
      padding: 1rem 2rem;
      border-radius: 2rem;
      height: fit-content;
    }

    @container (width<700px) {
      article {
        display: flex;
        flex-direction: column;
      }
    }
  }
</style>
