---
import EmployeeCard from "./EmployeeCard.astro";

const { data, theme } = Astro.props;
---

<section>
  {data.map((employee) => <EmployeeCard {employee} />)}
</section>

<style>
  @layer components {
    section {
      padding: 2rem;
      color: var(--text-section);
      background: var(--bg-section);

      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
