---

---

<footer>
  <h5>AskExperts</h5>
  <hr />
  <p>
    ©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy
  </p>
</footer>

<style>
  @layer components {
    footer {
      background: var(--black);
      color: var(--white);
      display: flex;
      flex-direction: column;
      place-items: center;
      padding: 2rem 0;
      /* position: fixed; */
      left: 0;
      bottom: 0;
      width: 100%;

      h5,
      p {
        color: var(--white);
      }
      hr {
        border-bottom: 1px solid var(--grey);
        max-width: 700px;
        width: 700px;
      }
    }
  }
</style>
