---
import { Image } from "astro:assets";

import img from "../assets/images/hero1.png";
import Banner from "./Banner.astro";

const { text } = Astro.props;
---

<section class="full-bleed">
  <Image class="img full-bleed" src={img} alt="xxxxx" />
  <article>
    <Banner text="Services" theme="yellow" />
    <h1>{text}</h1>
  </article>
</section>

<style>
  @layer components {
    section {
      position: relative;
      background-image: src;

      article {
        background-color: #ffffffb6;
        position: absolute;
        padding: 2rem 3rem;
        border-radius: 2rem;
        max-width: 700px;
        top: 30%;
      }
    }
  }
</style>
