---

---

<section>
  <article>
    <h4>Subscribe Our Newsletter</h4>
    <p>Build stronger Customer Relationships with Consultalk</p>
  </article>
  <form action="#">
    <input type="text" id="email" placeholder="Your Email Adress" />
    <input type="button" id="button" value="Subscribe" />
  </form>
</section>


<style>
  @layer components {

    section {
      background: var(--black);
      color: var(--white);
      display: flex;
      padding: 3rem 5rem;
      place-content: center;
      border-radius: 2rem;
      max-width: 1200px;
      gap: 5rem;
      position: relative;
      margin-bottom: 4rem;
          /* flow space el. margin var */


      p,
      h4 {
        color: var(--white);
      }

      &::before {
        --square-count: 15;
        --square-size: 1.34rem;

        --_square-size: var(--square-size, 1rem);
        --_square-half: calc(var(--square-size) / 2);
        --_square-sum: calc(var(--square-count) * var(--square-size));
        z-index: 1;
        content: "";
        position: absolute;
        inset: -145px -145px auto auto;
        rotate: 45deg;
        /*inline-size: calc(var(--square-count) * 1.34rem - .67rem);*/
        inline-size: calc(
          round(var(--_square-sum), var(--_square-size)) - var(--_square-half)
        );
        aspect-ratio: 1;
        background: linear-gradient(
            135deg,
            #be965d,
            #976f40,
            #c99b61,
            #f0be7b,
            #ffcb85,
            #eebc79,
            #c0935b,
            #976f40
          )
          0 0 / 100% 100%;
        mask:
          var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
          var(--square-pattern) var(--_square-half) var(--_square-half) /
            var(--_square-size) var(--_square-size);
        /*clip-path: polygon(-3% 0%, 100% 0%, 100% 103%);*/
      }

      &::after {
        content: "";
        position: absolute;
       background: var(--green);
        width: 150px;
        height: 150px;
        border-radius: 2rem;
        inset: 164px -45px auto auto;
        z-index: 1;
        rotate: 40deg;
    }
      }
    }

    form {
      border-radius: 2rem;
      display: flex;
      flex-direction: row;
      place-items: center;
      gap: 1rem;

      #email,
      #button {
        border-radius: 2rem;
        padding: 1rem 3rem;
        z-index: 2;
      }
      #email {
        background: var(--white);
        color: var(--black);
      }
      #button {
        background: var(--yellow);
        color: var(--black);
      }

      #button:hover {
        background-color: oklch(from var(--yellow) calc(l - 0.1) c h);
      }

      #button:active {
        background-color: oklch(from var(--yellow) calc(l - 0.8) c h);
        color: var(--white);
        border: 1px solid var(--white);
      }
    }
  }
</style>
