---
import ProjectionsCard from "./ProjectionsCard.astro";

const { data } = Astro.props;
---

<section>
  <article>
    <header>
      <h2>{data.title}</h2>
      <p>
        {data.subtitle}
      </p>
    </header>
    <ul class="full-width">
      {
        data.values.map((financialProjections) => (
          <ProjectionsCard {financialProjections} />
        ))
      }
    </ul>
  </article>
</section>

<style>
  section {
    display: grid;
    grid-template-columns: var(--grid-columns);
    padding: var(--section-padding) 0;
  }

  article {
    grid-column: full;
    display: grid;
    grid-template-columns: var(--grid-columns);

    header {
      grid-column: content;
    }
    > ul {
      list-style: none;

      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      grid-column: full;
      padding-inline: minmax(1rem, 50% - var(--content-width) / 2);
      gap: 2rem;
    }
  }
</style>
