---
import ProjectionsCard from "./ProjectionsCard.astro";
import { Icon } from "astro-icon/components";
const { data } = Astro.props;
---

<section class="section-margin-top">
  <article>
    <header class="flow-space">
      <Icon name="finpro" />
      <h2>{data.title}</h2>
      <p>
        {data.subtitle}
      </p>
    </header>
    <ul class="full-width" role="list">
      {
        data.values.map((financialProjections) => (
          <ProjectionsCard {financialProjections} />
        ))
      }
    </ul>
  </article>
</section>

<style>
  section {
    display: grid;
    grid-column: content / full-end;
    grid-template-columns: var(--grid-columns);
    padding: var(--section-padding) 0;
  }

  article {
    grid-column: full;
    display: grid;
    grid-template-columns: var(--grid-columns);
    container-type: inline-size;

    header {
      grid-column: content;

      [data-icon] {
        height: 70px;
        width: 100px;
      }
    }
    > ul {
      grid-column: full;

      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      padding-inline: minmax(1rem, 50% - var(--content-width) / 2);
      gap: 2rem;
    }

    @container (width < 800px) {
      header {
        grid-column: content;
      }
    }
  }
</style>
