---
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title = "" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title} - AskExperts</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  @layer components {
    body {
      display: grid;
      grid-template-columns: var(--grid-columns);
      grid-template-rows: auto 1fr auto;
      align-items: start;

      > *,
      * > .full-bleed {
        grid-column: full;
        display: grid;
        grid: auto / subgrid;

        > :not(&) {
          grid-column: content;
        }
      }
    }
  }
</style>
